<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>TODO - {% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.cookie-1.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/tinycolor.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/build.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/mobile.js') }}"></script>
    <link rel="icon" href="TODO">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light.css') }}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css')  }}" media="(prefers-color-scheme: dark)">
    <link rel="canonical" href="https://TODO"/>
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>