{% extends "base.html" %}
{% block title %}{{ campsite.name }} {{ languageValues['campsiteDetail_name_Label_Details'] }}{% endblock %}
{% block extra_head %}
    <!-- Add only unique styles if necessary -->
{% endblock %}
{% block body %}
    <div class="campsite-detail">
        <div class="hero">
            <h1>{{ campsite.name }}</h1>
        </div>
        <div class="info">
            <p><span class="label">{{ languageValues['campsiteDetail_label_address'] }}:</span> {{ campsite.address.getStreet() }} {{ campsite.address.getHouseNumber() }}, {{ campsite.address.getCity() }}, {{ campsite.address.getPostCode() }}, {{ campsite.address.getCountry() }}</p>
            {% if campsite.description %}
                <div class="description">
                    <p><span class="label">{{ languageValues['campsiteDetail_label_description'] }}:</span> {{ campsite.description }}</p>
                </div>
            {% else %}
                <p><span class="label">Description:</span>{{ languageValues['campsiteDetail_label_description_nonExistent'] }}</p>
            {% endif %}
        </div>

        <div class="modules-container">
            <h2 style="text-align: center; color: #00695c; margin: 30px 0 20px;">{{ languageValues['campsiteDetail_label_availableModules'] }}:</h2>
            {% if modules %}
                <div class="module-grid">
                    {% for module in modules %}
                        <div class="module-card">
                            <div class="module-header">
                                <h3>{{ module.name }}</h3>
                            </div>
                            <div class="module-info">
                                {% if module.logo %}
                                    <img src="{{ url_for('static', filename='/images/' + module.logo) }}" alt="{{ module.name }} Logo" style="max-width: 100px; height: auto; display: block; margin: 0 auto;">
                                {% else %}
                                    <p style="color: #546e7a;">{{ languageValues['campsiteDetail_label_module_logo_notAvailable'] }}</p>
                                {% endif %}
                            </div>
                            <div class="module-actions">
                                <a href="{{ module.url or '#' }}">{{ languageValues['campsiteDetail_label_module_access'] }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p style="text-align: center; color: #546e7a;">{{ languageValues['campsiteDetail_label_module_nonAvailable'] }}</p>
            {% endif %}
        </div>

        <div class="actions">
            <a href="{{ url_for('index') }}" class="back-btn">{{ languageValues['campsiteDetail_button_backToIndexPage'] }}</a>
        </div>
    </div>
{% endblock %}