{% extends "base.html" %}
{% block title %}{{ languageValues['register_label_register'] }}{% endblock %}
{% block extra_head %}
    <!-- Add only unique styles if necessary -->
{% endblock %}
{% block body %}
    <div class="register-container">
        <h1>{{ languageValues['register_label_register'] }}</h1>
        <form method="POST">
            <div class="form-columns">
                <!-- Linke Spalte -->
                <div class="column">
                    <div class="form-group">
                        <label for="username">{{ languageValues['register_label_username'] }}</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">{{ languageValues['register_label_eMail'] }}</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">{{ languageValues['register_label_password'] }}</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="first_name">{{ languageValues['register_label_firstName'] }}</label>
                        <input type="text" id="first_name" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label for="last_name">{{ languageValues['register_label_lastName'] }}</label>
                        <input type="text" id="last_name" name="last_name" required>
                    </div>
                </div>
                <!-- Rechte Spalte -->
                <div class="column">
                    <div class="form-group">
                        <label>{{ languageValues['register_label_birthDate'] }}</label>
                        <div class="date-group">
                            <select name="birth_day" required>
                                <option value="">{{ languageValues['register_label_birthDate_day'] }}</option>
                                {% for day in range(1, 32) %}
                                    <option value="{{ day }}">{{ day }}</option>
                                {% endfor %}
                            </select>
                            <select name="birth_month" required>
                                <option value="">{{ languageValues['register_label_birthDate_month'] }}</option>
                                <option value="1">{{ languageValues['register_label_birthDate_month_january'] }}</option>
                                <option value="2">{{ languageValues['register_label_birthDate_month_february'] }}</option>
                                <option value="3">{{ languageValues['register_label_birthDate_month_march'] }}</option>
                                <option value="4">{{ languageValues['register_label_birthDate_month_april'] }}</option>
                                <option value="5">{{ languageValues['register_label_birthDate_month_may'] }}</option>
                                <option value="6">{{ languageValues['register_label_birthDate_month_june'] }}</option>
                                <option value="7">{{ languageValues['register_label_birthDate_month_july'] }}</option>
                                <option value="8">{{ languageValues['register_label_birthDate_month_august'] }}</option>
                                <option value="9">{{ languageValues['register_label_birthDate_month_september'] }}</option>
                                <option value="10">{{ languageValues['register_label_birthDate_month_october'] }}</option>
                                <option value="11">{{ languageValues['register_label_birthDate_month_november'] }}</option>
                                <option value="12">{{ languageValues['register_label_birthDate_month_december'] }}</option>
                            </select>
                            <select name="birth_year" required>
                                <option value="">{{ languageValues['register_label_birthDate_year'] }}</option>
                                {% for year in range(1900, 2026) %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country">{{ languageValues['register_label_country'] }}</label>
                        <input type="text" id="country" name="country" required>
                    </div>
                    <div class="form-group">
                        <label>{{ languageValues['register_label_cityAndPostcode'] }}</label>
                        <div class="city-zip-group">
                            <input type="text" id="city" name="city" placeholder="City" required>
                            <input type="text" id="zip_code" name="zip_code" placeholder="Postcode" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ languageValues['register_label_streetAndHousenumber'] }}</label>
                        <div class="street-number-group">
                            <input type="text" id="street" name="street" placeholder="Street" required>
                            <input type="text" id="house_number" name="house_number" placeholder="Nr." required>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">{{ languageValues['register_label_register'] }}</button>
        </form>
    </div>
{% endblock %}